h1, h2, h3 {
  color: #990000;
}

h1 {
  margin-top: 84px;
}

ul.contents, .contents ul {
  list-style-type: none;
}

.contents a:link, .contents a:active, .contents a:hover, .contents a:visited {
  text-decoration: none;
  color: #990000;
}

.code {
  font-family: monospace;
  color: #990000;
}

p {
  margin-left: 16px;
}

pre {
  background-color: #CCCCCC;
  margin: 0 16px;
  padding: 16px;
  border-radius: 4px;
}

.example {
  margin: 16px;
  padding: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.warning {
  margin: 16px;
  padding: 16px;
  border: solid 1px #ffeeba;
  color: #856404;
  background-color: #fff3cd;
  border-radius: 4px;
}
